<?xml version="1.0" encoding="UTF-8"?>
<widget id="DroidClock" version="0.1" width="202" height="35" 
xmlns="http://www.w3.org/ns/widgets">
<title>Droid Clock v0.1</title>
<description>Droid Clock by syfluqs</description>
<icon src="icon.png"></icon>
<content src="index.html"/>
<access network="no"/>
</widget>
