<?xml version="1.0" encoding="UTF-8"?>
<widget id="DroidClock" version="0.3" width="202" height="60" 
xmlns="http://www.w3.org/ns/widgets">
<title>Droid Clock v0.3</title>
<description>Droid Clock by syfluqs</description>
<icon src="icon.png"></icon>
<content src="index.html"/>
<access network="no"/>
</widget>
